body {
background: -webkit-linear-gradient(to left, #F2BACA, #C8D3D5, #FCFAFA);
background: linear-gradient(to left, #F2BACA, #C8D3D5, #FCFAFA);
}
.cardholder {
  margin-top: 150px;
  perspective: 600px;
}
.card {
  width: 300px;
  height: 400px;
  background-color: transparent;
  transform: rotateY(50deg);
	transition: all 1s ease;
  color: transparent;
}
.card:hover {
  width: 300px;
  height: 400px;
  background-color: transparent;
  transform: rotateY(0deg);
}
.card:hover p {
  background-color: white;
}
/*------------------------------------------------------------------------*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
