@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap');
/*------------------------------------------------------------------------*/
 ::selection {
  background-color: #A4B8C4;
  color: #000;
}

svg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-gradient {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(300deg, #00209e, #000000, #000000);
  background-size: 250% 250%;
  animation: gradient-bg 8s linear infinite;
}

@keyframes gradient-bg {
  0% {background-position:7% 0%}
  50% {background-position:94% 100%}
  100% {background-position:7% 0%}
}

.boxes{
  position: absolute;
  top: 70%;
  left: 45%;
  margin: -35px -30px 0 -155px;
  padding: 0 0 0 22px;
}

.blog-card{
  width: 450px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 45%;
  margin: -200px -30px 0 -155px;
  overflow: hidden;
  border-radius: 15px;
  /* box-shadow: 3px 3px 20px rgba(0, 0, 0, .25); */
  text-align: center;
}
.title-content{
  text-align: center;
  margin: 25px 0 0 0;
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 0;
}
hr{
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
}
.card-info{
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: white;
  font-family: serif;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom .3s, opacity .3s cubic-bezier(.33,.66,.66,1);
}

.utility-info{
  position: absolute;
  bottom: -20px;
  left: auto;
  z-index: 20;
}
.intro{
  width: 360px;
  size: 16px;
  margin: 0 0 0 30px;
  letter-spacing: 2px;
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-align: left;
}
.utility-list{
  list-style-type: none;
  margin: 0 0 30px 20px;
  padding: 0;
  width: 100%;
}

.nunito-light {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


/*------------------------------------------------------------------------*/

#sidebar{
	background: #050505;
  opacity: .5s;
	width: 400px;
	height: 100%;
	display: block;
	position: absolute;
	left: -420px;
	top: 0px;
	transition:left 1s ease;
  font-family: 'Poiret One', sans-serif;
  font-size: 12px;
  text-align: left;
}

#sidebar.visible{
	left: 0px;
	transition:left .7s ease;
}

a:hover {
    color: #3858d6;
    text-decoration: none;
    font-weight: 1000;
}
a:visited {
  color: none;
}

/*------------------------------------------------------------------------*/

.floating {
	display: inline-block;
	overflow: hidden;
  font-family: 'Nunito', sans-serif;
	font-size: 2em;
}

.floating span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
  letter-spacing: 3px;
}

.floating span::before {
	position: absolute;
	white-space: nowrap;
	top: 100%;
	content: attr(data-hover);
	font-weight: 500;
}

.floating:hover span,
.floating:focus span {
	-webkit-transform: translateY(-80%);
	transform: translateY(-50%);
}
/*------------------------------------------------------------------------*/

ul{
	margin:0px;
	padding:0px;
}

ul li{
	list-style:none;
}

ul li a{
	background: #050505;
	color: #ccc;
	border-bottom: 1px solid #050505;
	display:block;
	width: 400px;
  height: 100px;
	padding: 10px;
	text-decoration: none;
}

#sidebar-btn{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 15px;
	cursor: pointer;
	margin: 10px;
	position: absolute;
	top: 0px;
	right: -70px;
}

#sidebar-btn span{
	height: 3px;
  width: 35px;
	background: #fff;
	margin-bottom:5px;
	display:block;
}
